img {
    width: 200px;
}

/*seletor de id ou sea, o elemento que conter o id="filme-lilo-stitch" será aplicado o css abaixo*/
#filme-lilo-stitch {
    width: 250px;
}

#filme-rio-2 {
    width: 350px;
}

#filme-lords-of-the-ring {
    width: 210px;
}

#filme-invocacao-do-mal {
    width: 100px;
}